@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik";
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
}

.title_raleway {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.title_rubik {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
}

.main_conainer_catalog {
  width: 1440px;
  margin: 0 auto;
}

.breadcrumbs_catalog {
  width: 1079px;
  margin: 0 auto;
}

/*Шапка */
.page_header {
  background-color: #FFE17F;
  min-height: 186px;
}

.text_search {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button_search {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 46px;
  background-color: #FFE17F;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  border-left: none;
  margin-right: 39px;
}

.navigation_list {
  display: flex;
  list-style-type: none;
}

.navigation_item_link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 0;
  border: none;
  background-color: #FFE17F;
  margin: 0;
  position: relative;
}

.icon_login::before {
  position: absolute;
  width: 13px;
  height: 12px;
  content: "";
  background-image: url("../image/login.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon_compare::before {
  position: absolute;
  width: 13px;
  height: 12px;
  content: "";
  background-image: url("../image/compare.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.basket::before {
  position: absolute;
  width: 13px;
  height: 12px;
  content: "";
  background-image: url("../image/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search_form {
  display: flex;
}

.text_search {
  width: 360px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background-color: #FFE17F;
  padding-left: 48px;
}

.text_search::placeholder {
  color: #000000;
}

/* Подменю шапки */
.submenu_list {
  list-style-type: none;
  display: flex;
}

.submenu_item_link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 47px;
}

.catalog_button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: #FFE17F;
  margin-right: 276px;
}

.submenu_list_two {
  display: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

/* Кнопки */
.button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Слайдер */

.title_slide {
  max-width: 545px;
}

.slider_button_previous {
  width: 20px;
  height: 60px;
  background-image: url("../image/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #FFFFFF;
}

.slider_button_next {
  width: 20px;
  height: 60px;
  background-image: url("../image/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #FFFFFF;
  transform: rotate(180deg);
}

.fitness_watch_slide,
.monopods_slide {
  display: none;
}

.number_slide {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
}


.indicators {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.submenu_products {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  padding: 0;
}

.section_submenu_products {
  margin-bottom: 172px;
}

.submenu_products_link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

/* Картинки ссылок подменю */
.virtual_reality::before {
  background-image: url("../image/virtual_reality.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.monopods::before {
  background-image: url("../image/monopods.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.action_camera::before {
  background-image: url("../image/action_camera.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fitness_bracelet::before {
  background-image: url("../image/fitness_bracelet.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.smart_watch::before {
  background-image: url("../image/smart_watches.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.quadrocopters::before {
  background-image: url("../image/quadrocopters.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.submenu_products_link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  width: 160px;
  display: block;
  padding-top: 193px;
  position: relative;
}

.time_list{
  list-style-type: none;
}

/* Описание */
.description {
  max-width: 560px;
  color: #444444;
}

.container_delivery {
  margin: 0 auto;
  width: 1160px;
  position: relative;
}

.button_delivery {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1160px;
  height: 100px;
  background-color: #F0F0F0;
  margin: 70px 0;
  border: none;
}

.transport_item {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.tab_container {
  display: flex;
  width: 1440px;
  min-height: 289px;
  margin: 0 auto;
  position: relative;
}

.tab_container::before {
  content: "";
  width: 1440px;
  height: 289px;
  background-color: #F0F0F0;
  position: absolute;
  z-index: -1;
  top: 40px
}

.tab {
  padding-left: 140px;
  padding-right: 124px;
}

.tab_links_delivery {
  display: block;
  padding-right: 120px;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000000;
  color: #FFE17F;
  border: none;
}

.tab_links {
  border: none;
}

.delivery_title {
  padding-top: 10px;
}

.button_delivery::after {
  content: "";
  width: 125px;
  height: 100px;
  z-index: 1;
  background: #FFE17F;
  position: absolute;
  left: 0;
  background-image: url("../image/car.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* О нас */
.flex_info {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.section_about_us {
  margin-right: 108px;
}

/* Подписаться на рассылку */
.section_subscribe {
  display: flex;
  flex-wrap: wrap;
  background-color: #F0F0F0;
  padding-top: 64px;
  padding-bottom: 56px;
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.title_subscribe {
  margin-left: 147px;
  margin-right: 252px;
  margin-bottom: 144px;
}

/* Форма */
.form_email {
  display: flex;
  margin-left: 141px;
}

.input_email {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
  width: 500px;
  height: 52px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: #F0F0F0;
  padding-left: 16px;
}

.button_subscribe {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 148px;
  width: 253px;
  height: 57px;
  border: 3px solid #C4C4C4;
}

/* Подвал */
.footer_list{
  list-style-type: none;
}

.social_list{
  list-style-type: none;
}

.footer {
  width: 1440px;
  margin: 0 auto;
  background-color: #444444;
}

.contacts_address {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer_navigation_link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Хлебные крошки */
.breadcrumbs {
  list-style-type: none;
  display: flex;
}

.breadcrumbs_item_link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 36px;
}

.flex_container {
  display: flex;
  background-color: #F0F0F0;
}

.background_container {
  padding-bottom: 78px;
  background-color: #FFFFFF;
}

.product_list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 44px;
  padding-top: 70px;
  padding-right: 40px;
  margin: 0;
}

.container_text_product {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

/* Заголовки секций */
.select_sorting_title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Заголовки чекбоксов */
.catalog_filter_title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog_filter_list{
  list-style-type: none;
}

/* Чекбоксы */
.control {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.product_card_link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.description_price {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  margin-top: 0;
}

.button_catalog {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 760px;
  min-height: 55px;
  border: 3px solid #E5E5E5;
  background-color: #FFFFFF;
  margin-top: 44px;
  margin-left: 40px;
}

.pagination_button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination_link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  min-height: 71px;
  background: #EBEBEB;
  padding-left: 0;
  margin-left: 40px;
}

.pagination_button_last{
  padding: 25px;
  padding-right: 170px;
}

.pagination_item_number{
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding-top: 25px;
}

.pagination_button_next{
  margin-left: 170px;
  margin-top: 25px;
}
