@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Rubik";
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #FFFFFF;
}

/* Форма шапки */
.text_search {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.button_search{
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
}

h2{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
}

.submenu_item{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.submenu_list_two{
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
}

.button{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.indicators{
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 30px;
}

.submenu_products{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
}

.description{
  color: #444444;
}

.description_delivery{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.transport_item{
  font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;
}

h3{
  font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #444444;
}

.input_email{
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #444444;
opacity: 0.5;
}

.button_subscribe{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.footer{
  background-color: #444444;
}

.contacts_address{
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.footer_navigation_link{
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
}
